<app-blank pageName="Companies" [routes]="['Admin', 'Companies']">
  <app-section sectionTitle="Company List">
    <div class="form-group row">
      <div class="col-9">
        <button
          class="btn btn-dark me-1"
          data-toggle="modal"
          data-target="#createModal"
        >
          <i class="fa-solid fa-plus me-1"></i>
          Add Company
        </button>

        <button class="btn btn-dark" (click)="migrateAll()">
          <i class="fa-solid fa-rotate me-1"></i>
          Migrate All
        </button>
      </div>

      <div class="col-3">
        <input
          [(ngModel)]="search"
          type="search"
          class="form-control"
          placeholder="search"
        />
      </div>
    </div>

    <div class="form-group mt-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>Address</th>
            <th>Tax Number</th>
            <th>Tax Department</th>
            <th>Server</th>
            <th>Database Name</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          @for(data of companies | company: search ;track data){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.taxNumber }}</td>
            <td>{{ data.taxDepartment }}</td>
            <td>{{ data.database.server }}</td>
            <td>{{ data.database.databaseName }}</td>
            <td>
              <button
                data-toggle="modal"
                data-target="#updateModal"
                (click)="get(data)"
                class="btn btn-outline-primary btn-sm me-1"
              >
                <i class="fa-solid fa-edit"></i>
              </button>
              <button
                (click)="deleteById(data)"
                class="btn btn-outline-danger btn-sm"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add Company Form</h1>
        <button
          type="button"
          #createModalCloseBtn
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
      <form
        formValidate
        #createForm="ngForm"
        autocomplete="off"
        (ngSubmit)="create(createForm)"
      >
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              required
              minlength="3"
              [(ngModel)]="createModel.name"
              class="form-control"
              name="name"
            />
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group mt-2">
            <label>Address</label>
            <textarea
              type="text"
              required
              minlength="3"
              [(ngModel)]="createModel.address"
              class="form-control"
              name="address"
            ></textarea>
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group row mt-2">
            <div class="col-6">
              <div class="form-group">
                <label>Tax Department</label>
                <input
                  type="text"
                  required
                  minlength="3"
                  [(ngModel)]="createModel.taxDepartment"
                  class="form-control"
                  name="taxDepartment"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Tax Number</label>
                <input
                  type="text"
                  required
                  minlength="3"
                  [(ngModel)]="createModel.taxNumber"
                  class="form-control"
                  name="taxNumber"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col-6">
              <div class="form-group">
                <label>Server</label>
                <input
                  type="text"
                  required
                  minlength="3"
                  [(ngModel)]="createModel.database.server"
                  class="form-control"
                  name="databaseServer"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Database Name</label>
                <input
                  type="text"
                  required
                  minlength="3"
                  [(ngModel)]="createModel.database.databaseName"
                  class="form-control"
                  name="databaseDatabaseName"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col-6">
              <div class="form-group">
                <label>User Name</label>
                <input
                  type="text"
                  [(ngModel)]="createModel.database.username"
                  class="form-control"
                  name="databaseUserName"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Password</label>
                <input
                  type="text"
                  [(ngModel)]="createModel.database.password"
                  class="form-control"
                  name="databasePassword"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark w-100">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Update Company Form</h1>
        <button
          type="button"
          #updateModalCloseBtn
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
      <form
        formValidate
        #updateForm="ngForm"
        autocomplete="off"
        (ngSubmit)="update(updateForm)"
      >
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              required
              minlength="3"
              [(ngModel)]="updateModel.name"
              class="form-control"
              name="updateName"
            />
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group mt-2">
            <label>Address</label>
            <textarea
              type="text"
              required
              minlength="3"
              [(ngModel)]="updateModel.address"
              class="form-control"
              name="updateAddress"
            ></textarea>
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group row mt-2">
            <div class="col-6">
              <div class="form-group">
                <label>Tax Department</label>
                <input
                  type="text"
                  required
                  minlength="3"
                  [(ngModel)]="updateModel.taxDepartment"
                  class="form-control"
                  name="updateTaxDepartment"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Tax Number</label>
                <input
                  type="text"
                  required
                  minlength="3"
                  [(ngModel)]="updateModel.taxNumber"
                  class="form-control"
                  name="updateTaxNumber"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col-6">
              <div class="form-group">
                <label>Server</label>
                <input
                  type="text"
                  required
                  minlength="3"
                  [(ngModel)]="updateModel.database.server"
                  class="form-control"
                  name="updateDatabase.server"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Database Name</label>
                <input
                  type="text"
                  required
                  minlength="3"
                  [(ngModel)]="updateModel.database.databaseName"
                  class="form-control"
                  name="updateDatabaseDatabaseName"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col-6">
              <div class="form-group">
                <label>User Name</label>
                <input
                  type="text"
                  [(ngModel)]="updateModel.database.username"
                  class="form-control"
                  name="updateDatabaseUserName"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Password</label>
                <input
                  type="text"
                  [(ngModel)]="updateModel.database.password"
                  class="form-control"
                  name="updateDatabasePassword"
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary w-100">Güncelle</button>
        </div>
      </form>
    </div>
  </div>
</div>
