<app-blank pageName="Cash Registers" [routes]="['Entries', 'Cash Registers']">
  <app-section sectionTitle="Cash Register List">
    <div class="form-group row">
      <div class="col-9">
        <button
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#createModal"
        >
          <i class="fa-solid fa-plus me-1"></i>
          Add Cash Register
        </button>
      </div>

      <div class="col-3">
        <input
          [(ngModel)]="search"
          type="search"
          class="form-control"
          placeholder="search"
        />
      </div>
    </div>

    <div class="form-group mt-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Currency Type</th>
            <th>Deposit Amount</th>
            <th>Withdrawal Amount</th>
            <th>Balance Amount</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          @for(data of cashRegisters | cashRegister: search ;track data){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.currencyType.name }}</td>
            <td>
              {{
                data.depositAmount
                  | trCurrency
                    : changeCurrencyNameToSymbol(data.currencyType.name)
                    : true
              }}
            </td>
            <td>
              {{
                data.withdrawalAmount
                  | trCurrency
                    : changeCurrencyNameToSymbol(data.currencyType.name)
                    : true
              }}
            </td>
            <td>
              <span
                [ngClass]="
                  data.depositAmount > data.withdrawalAmount
                    ? 'text-success'
                    : 'text-danger'
                "
              >
                {{
                  data.depositAmount - data.withdrawalAmount
                    | trCurrency
                      : changeCurrencyNameToSymbol(data.currencyType.name)
                      : true
                }}
              </span>
            </td>
            <td>
              <button
                class="btn btn-dark btn-sm me-1"
                routerLink="/cash-registers/details/{{ data.id }}"
              >
                <i class="fa-regular fa-file-lines me-1"></i>Details
              </button>
              <button
                data-toggle="modal"
                data-target="#updateModal"
                (click)="get(data)"
                class="btn btn-outline-primary btn-sm me-1"
              >
                <i class="fa-solid fa-edit"></i>
              </button>
              <button
                (click)="deleteById(data)"
                class="btn btn-outline-danger btn-sm"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add Cash Register Form</h1>
        <button
          type="button"
          #createModalCloseBtn
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
      <form
        formValidate
        #createForm="ngForm"
        autocomplete="off"
        (ngSubmit)="create(createForm)"
      >
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              required
              minlength="3"
              [(ngModel)]="createModel.name"
              class="form-control"
              name="name"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-2">
            <label>Currency Type</label>
            <select
              class="form-control"
              name="type"
              [(ngModel)]="createModel.currencyTypeValue"
            >
              @for(type of currencyTypes; track type){
              <option [value]="type.value">{{ type.name }}</option>
              }
            </select>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-dark w-100">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Update Cash Register Form</h1>
        <button
          type="button"
          #updateModalCloseBtn
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
      <form
        formValidate
        #updateForm="ngForm"
        autocomplete="off"
        (ngSubmit)="update(updateForm)"
      >
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              required
              minlength="3"
              [(ngModel)]="updateModel.name"
              class="form-control"
              name="updateName"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-2">
            <label>Currency Type</label>
            <select
              class="form-control"
              name="updateCurrencyType"
              [(ngModel)]="updateModel.currencyTypeValue"
            >
              @for(type of currencyTypes; track type){
              <option [value]="type.value">{{ type.name }}</option>
              }
            </select>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary w-100">Güncelle</button>
        </div>
      </form>
    </div>
  </div>
</div>
